<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/multi_uav_mavros_sitl.launch">
		<!-- <arg name="x" value="0" />
		<arg name="y" value="0" />
		<arg name="z" value="0.404" /> -->
		<arg name="world" default="$(find airbase_world)/worlds/airbase_final2.world"/>
		<!-- <arg name="vehicle" default="iris"/> -->
		<!-- <arg name="sdf" default="$(find pushpak_description)/models/iris_downward_depth_camera/iris_downward_depth_camera.sdf"/> -->
	</include>
</launch>