<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
	<arg name="world" default="$(find pushpak_description)/worlds/hazor2.world"/>
	<arg name="sdf" default="$(find pushpak_description)/models/iris_downward_depth_camera/iris_downward_depth_camera.sdf"/>
	</include>
</launch>